.outer-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
.inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.itemx {
    padding: 20px;
    background-color: blueviolet;
    border: 1px solid black;

}
